.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .25s ease-in-out;
}
.acordeon.active,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon .trigger::after{
    content: "";
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/Assets/Images/Icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: .25s ease-in-out;
}

.acordeon.active .trigger::after{
    transform: rotate(180deg);
}

.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out, height .5s ease-in-out;
}

.acordeon.active .content{
    display:block;
    padding: 0 1rem 1rem 1rem;
    height: auto;
    opacity: 1;
}

