.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0 0 0;
}

.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.portfolio li a:hover{
    text-decoration: underline;
}

.portfolio li .title.github::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-image: url('/Assets/Images/Icons/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: .25s ease-in-out;
    margin-right: .25rem;
}

.portfolio li{
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    transition: .25s ease-in-out;
    font-weight: 700;
}